div.radio-with-Icon {
    display: block;
}
div.radio-with-Icon p.radioOption {
    display: inline-block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    margin: -20px 15px;
    border: none;
    position: relative;
}
div.radio-with-Icon p.radioOption:first-child {
    margin-left: 0;
}
div.radio-with-Icon p.radioOption label {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    border: 1px solid #222;
    color: #222;
    cursor: pointer;
    opacity: .8;
    transition: none;
    font-size: 20px;
    text-align: center;
    margin: 0 !important;
}
div.radio-with-Icon p.radioOption label i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
div.radio-with-Icon p.radioOption label:hover, div.radio-with-Icon p.radioOption label:focus, div.radio-with-Icon p.radioOption label:active {
    opacity: .5;
    background-color: #222;
    color: #fff;
    margin: 0 !important;
}
div.radio-with-Icon p.radioOption label::after, div.radio-with-Icon p.radioOption label:after, div.radio-with-Icon p.radioOption label::before, div.radio-with-Icon p.radioOption label:before {
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
}
div.radio-with-Icon p.radioOption label i.fa {
    display: block;
    font-size: 50px;
}
div.radio-with-Icon p.radioOption input[type="radio"] {
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
}
div.radio-with-Icon p.radioOption input[type="radio"]:active ~ label {
    opacity: 1;
}
div.radio-with-Icon p.radioOption input[type="radio"]:checked ~ label {
    opacity: 1;
    border: none;
    background-color: #222;
    color: #fff;
}
div.radio-with-Icon p.radioOption input[type="radio"]:hover, div.radio-with-Icon p.radioOption input[type="radio"]:focus, div.radio-with-Icon p.radioOption input[type="radio"]:active {
    margin: 0 !important;
}
div.radio-with-Icon p.radioOption input[type="radio"] + label:before, div.radio-with-Icon p.radioOption input[type="radio"] + label:after {
    margin: 0 !important;
}

#vwg-options {
    position: relative;
}

#vwg-options input,
.ui-widget {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif !important;
}
#vwg-options input {
    font-size: 14px;
}

#review-top button.handlediv {
    display: none;
}

.logo-image {
    height: auto;
    width: auto;
    display: inline-block;
    margin-bottom: -20px;
}

.postbox-container.column-2 .postbox-header {
    pointer-events: none;
}

.postbox-container.column-2 .handle-actions {
    display: none;
}

#wpbody-content .metabox-holder {
    float: left;
    width: 100%;
}

#vwg-options #poststuff .metabox-holder .postbox-container.column-2 {
    position: sticky;
    top: 40px;
}

.ui-dialog-titlebar {
    text-align: center;
}

.img-container .boxes:hover > input.button {
    display: block !important;
    cursor: pointer;
}

#vwg-options label {
    font-weight: normal;
}

#vwg-options input#page_title,
#vwg-options input#heading,
#vwg-options textarea,
#vwg-options input#subscribe_form_title,
#vwg-options input#footer_text {
    width: 100%;
}

#vwg-options input.social-input {
    width: 50%;
}

#vwg-options input[type='checkbox'] {
    margin: 0 5px 0 0;
}

#vwg-options #poststuff .metabox-holder .postbox-container.column-1 {
    float: left;
    width: 65%;
}

#vwg-options #poststuff .metabox-holder .postbox-container.column-2 {
    float: right;
    width: 33%;
    min-width: 300px;
}

#side-sortables .postbox {
    max-width: 500px;
    min-width: 300px;
}

.wp-dialog.ui-widget-content {
    background: #fff !important;
}

label sup {
    color: #0387e6;
    font-weight: 600;
    font-size: 10px;
    font-style: italic;
}

.form-table tr {
    border-bottom: thin solid #f0f0f1;
}
.form-table tr:last-child {
    border-bottom: none;
}

.sidebar-promo p {
    color: #3e3e3e;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 1.5em;
    padding: 0;
}

.get-pro-version-info p {
    color: #3e3e3e;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 1em;
    padding: 0;
}

.get-pro-version-info p.feature {
    color: #3e3e3e;
    font-family: Arial;
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 5px;
    padding: 0;
}

.get-pro-version-info span.dashicons-yes {
    color: #0387e6;
}

.get-pro-version-info p.btn-wrap {
    text-align: center;
    margin-top: 1em;
}


#vwg_metabox_general_uninstall_settings {
    background: rgba(255, 0, 0, 10% );
}

#postbox-container-unused-thumbs {
    width: 100% !important;
}

#vwg-options sup {
    font-size: 11px;
    color: #0387e6;
    font-style: italic;
    font-weight: 600;
}

.vwg-swal-popup-pro-info {
   z-index: 99999;
}

.vwg-upload-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.vwg-toggle {
    cursor: pointer;
    display: inline-block;
}

.vwg-toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 48px;
    height: 22px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}
.vwg-toggle-switch:before, .vwg-toggle-switch:after {
    content: "";
}
.vwg-toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}
.vwg-toggle:hover .vwg-toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.vwg-toggle-checkbox:checked + .vwg-toggle-switch {
    background: #0387e6;
}
.vwg-toggle-checkbox:checked + .vwg-toggle-switch:before {
    left: 30px;
}

.vwg-toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.vwg-toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}

.woocommerce-help-tip.dashicons-warning::after {
    content: "\f534" !important;
    cursor: pointer !important;
}
.woocommerce-help-tip.dashicons-info::after {
    content: "\f348" !important;
    cursor: pointer !important;
}

/*Responsive*/
@media only screen and (max-width: 768px) {
    div.radio-with-Icon {
        padding-top: 10px;
    }

    .vwg-swal-popup-pro-info {
        width: 90% !important;
    }

}

@media only screen and (max-width: 480px) {
    div.radio-with-Icon p.radioOption label {
        padding: 4px 8px 4px 8px;
        font-size: 14px;
    }
    div.radio-with-Icon p.radioOption {
        width: 20px;
        height: 20px;
        margin: 0px 10px;
    }

    .logo-image {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    #vwg-options #poststuff .metabox-holder .postbox-container.column-1 {
        float: left;
        width: 100%;
    }

    #vwg-options #poststuff .metabox-holder .postbox-container.column-2 {
        float: left;
        width: 100%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    #vwg-options #poststuff .metabox-holder .postbox-container.column-1 {
        float: left;
        width: 100%;
    }

    #vwg-options #poststuff .metabox-holder .postbox-container.column-2 {
        float: left;
        width: 100%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #vwg-options #poststuff .metabox-holder .postbox-container.column-1 {
        float: left;
        width: 100%;
    }

    #vwg-options #poststuff .metabox-holder .postbox-container.column-2 {
        float: left;
        width: 100%;
    }
}
