/**
*
* Modal pricing info for PRO - START CSS
*
*/

.vwg-pricing-container {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

.vwg-pricing-container .full-width {
    width: 100%;
    max-width: none;
}

.vwg-pricing-container .pricing-switcher {
    text-align: center;
}

.vwg-pricing-container .pricing-list {
    display: flex;
}

.vwg-pricing-container .pricing-switcher .fieldset {
    display: inline-block;
    position: relative;
    padding: 2px;
    border-radius: 50em;
    border: 2.5px solid #000;
    margin-bottom: 0;
}

.vwg-pricing-container .pricing-switcher input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.vwg-pricing-container .pricing-switcher label {
    position: relative;
    z-index: 1;
    display: inline-block;
    float: left;
    width: 90px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
}

.vwg-pricing-container .pricing-switcher .switch {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 40px;
    width: 90px;
    background-color: #000;
    border-radius: 50em;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
}

.vwg-pricing-container .pricing-switcher input[type="radio"]:checked + label + .switch,
.vwg-pricing-container .pricing-switcher input[type="radio"]:checked + label:nth-of-type(n) + .switch {
    -webkit-transform: translateX(90px);
    -moz-transform: translateX(90px);
    -ms-transform: translateX(90px);
    -o-transform: translateX(90px);
    transform: translateX(90px);
}

.vwg-pricing-container .no-js .pricing-switcher {
    display: none;
}

.vwg-pricing-container .pricing-list > li {
    position: relative;
    margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {

    .vwg-pricing-container .pricing-list:after {
        content: "";
        display: table;
        clear: both;
    }
    .vwg-pricing-container .pricing-list > li {
        width: 33.3333333333%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }
    .vwg-pricing-container .has-margins .pricing-list > li {
        width: 32.3333333333%;
        float: left;
        margin-right: 1.5%;
    }
    .vwg-pricing-container .has-margins .pricing-list > li:last-of-type {
        margin-right: 0;
    }

}

@media only screen and (max-width: 768px) {
    .vwg-pricing-container .pricing-list {
        display: block;
    }

    .vwg-pricing-container .pricing-wrapper > li::after {
        display: none;
    }

    .vwg-pricing-container {
        width: 86%;
    }
}

.vwg-pricing-container .pricing-wrapper {
    position: relative;
}

.vwg-pricing-container .touch .pricing-wrapper {
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    perspective: 2000px;
}

.vwg-pricing-container .pricing-wrapper.is-switched .is-visible {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-animation: rotate 0.5s;
    -moz-animation: rotate 0.5s;
    animation: rotate 0.5s;
}

.vwg-pricing-container .pricing-wrapper.is-switched .is-hidden {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-animation: rotate-inverse 0.5s;
    -moz-animation: rotate-inverse 0.5s;
    animation: rotate-inverse 0.5s;
    opacity: 0;
}

.vwg-pricing-container .pricing-wrapper.is-switched .is-selected {
    opacity: 1;
}

.vwg-pricing-container .pricing-wrapper.is-switched.reverse-animation .is-visible {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-animation: rotate-back 0.5s;
    -moz-animation: rotate-back 0.5s;
    animation: rotate-back 0.5s;
}

.vwg-pricing-container .pricing-wrapper.is-switched.reverse-animation .is-hidden {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-animation: rotate-inverse-back 0.5s;
    -moz-animation: rotate-inverse-back 0.5s;
    animation: rotate-inverse-back 0.5s;
    opacity: 0;
}

.vwg-pricing-container .pricing-wrapper.is-switched.reverse-animation .is-selected {
    opacity: 1;
}

.vwg-pricing-container .pricing-wrapper > li {
    background-color: #ffffff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    border-radius: 25px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.vwg-pricing-container .pricing-wrapper > li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    pointer-events: none;
    background: -webkit-linear-gradient( right , #ffffff, rgba(255, 255, 255, 0));
    background: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
}

.vwg-pricing-container .pricing-wrapper > li.is-ended::after {
    display: none;
}

.vwg-pricing-container .pricing-wrapper .is-visible {
    /*position: relative;*/
    z-index: 5;
}

.vwg-pricing-container .pricing-wrapper .is-hidden {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.vwg-pricing-container .pricing-wrapper .is-selected {
    z-index: 3 !important;
}

@media only screen and (min-width: 768px) {
    .vwg-pricing-container .pricing-wrapper > li::before {
        content: '';
        position: absolute;
        z-index: 6;
        left: -1px;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 50%;
        width: 1px;
        background-color: #b1d6e8;
    }
    .vwg-pricing-container .pricing-wrapper > li::after {
        display: none;
    }
    .vwg-pricing-container .has-margins .pricing-wrapper > li,
    .vwg-pricing-container .has-margins .exclusive .pricing-wrapper > li {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    }
    :nth-of-type(1) > .pricing-wrapper > li::before {
        display: none;
    }
    .vwg-pricing-container .has-margins .pricing-wrapper > li {
        border-radius: 4px 4px 6px 6px;
    }
    .vwg-pricing-container .has-margins .pricing-wrapper > li::before {
        display: none;
    }
}

@media only screen and (min-width: 1500px) {
    .vwg-pricing-container .full-width .pricing-wrapper > li {
        padding: 2.5em 0;
    }
}

.vwg-pricing-container .no-js .pricing-wrapper .is-hidden {
    position: relative;
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
    margin-top: 1em;
}

@media only screen and (min-width: 768px) {
    .vwg-pricing-container .exclusive .pricing-wrapper > li::before {
        display: none;
    }
    .vwg-pricing-container .exclusive + li .pricing-wrapper > li::before {
        display: none;
    }
}

.vwg-pricing-container .pricing-header h2 {
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    color: #000;
}

.vwg-pricing-container .pricing-header {
    height: auto;
    pointer-events: auto;
    text-align: center;
    color: #000;
    background-color: transparent;
}

.vwg-pricing-container .exclusive .pricing-header {
    color: #000;
    background-color: transparent;
}

.vwg-pricing-container .pricing-header h2 {
    letter-spacing: 2px;
}

.vwg-pricing-container .currency,
.vwg-pricing-container .value {
    font-size: 2rem;
    font-weight: 300;
}

.vwg-pricing-container .duration {
    font-weight: 700;
    font-size: 12px;
}

.vwg-pricing-container .duration::before {
    content: '/';
    margin-right: 2px;
}

.vwg-pricing-container .value {
    font-size: 4rem;
    font-weight: 700;
}

.vwg-pricing-container .currency,
.vwg-pricing-container .duration {
    color: #000;
}

.vwg-pricing-container .exclusive .currency,
.vwg-pricing-container .exclusive .duration {
    color: #000;
}

.vwg-pricing-container .duration, .vwg-pricing-container .exclusive .duration {
    color: #5a5a5a;
}

.vwg-pricing-container .currency {
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    font-size: 2rem;
    font-weight: 700;
}

.vwg-pricing-container .pricing-body {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.vwg-pricing-container .is-switched .pricing-body {
    overflow: hidden;
}

.vwg-pricing-container .pricing-body {
    overflow-x: visible;
}


.vwg-pricing-container .pricing-features:after {
    content: "";
    display: table;
    clear: both;
}

.vwg-pricing-container .pricing-features li {
    width: 100px;
    float: left;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.vwg-pricing-container .pricing-features em {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.vwg-pricing-container .pricing-features {
    width: fit-content;
    margin: auto;
}

.vwg-pricing-container .pricing-features li {
    float: none;
    width: auto;
}

.vwg-pricing-container .pricing-features li i {
    color: #ffd800;
    padding-right: 10px;
}


.vwg-pricing-container .exclusive .pricing-features li {
    margin: 0 3px;
}

.vwg-pricing-container .pricing-features em {
    display: inline-block;
    margin-bottom: 0;
}

.vwg-pricing-container .has-margins .exclusive .pricing-features li {
    margin: 0;
}

.vwg-pricing-container .pricing-footer {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
}

.vwg-pricing-container .pricing-footer {
    position: relative;
    height: auto;
    padding: 1.8em 0;
    text-align: center;
}

.vwg-pricing-container .pricing-footer::after {
    display: none;
}

.vwg-pricing-container .has-margins .pricing-footer {
    padding-bottom: 0;
}

.vwg-pricing-container .select {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
}

.vwg-pricing-container .select {
    position: static;
    display: inline-block;
    height: auto;
    padding: 10px 10px;
    color: #000;
    border-radius: 15px;
    border: 2px solid #ffd800;
    background-color: #ffd800;
    text-indent: 0;
    text-transform: uppercase;
    transition: all .6s;
    width: 70%;
    font-weight: 700;
    text-decoration: none;
}

.vwg-pricing-container .select:hover {
    filter: brightness(.9) contrast(1.2);
}

.vwg-pricing-container .no-touch .select:hover {
    background-color: #000;
    color: #ffffff;
}

.vwg-pricing-container .exclusive .select {
    background-color: #ffd800;
    color: #000;
}

.vwg-pricing-container .secondary-theme .exclusive .select {
    background-color: #000;
}

.vwg-pricing-container .has-margins .select {
    display: block;
    padding: 1.7em 0;
    border-radius: 0 0 4px 4px;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: perspective(2000px) rotateY(0);
    }
    70% {
        -webkit-transform: perspective(2000px) rotateY(200deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(180deg);
    }
}

@-moz-keyframes rotate {
    0% {
        -moz-transform: perspective(2000px) rotateY(0);
    }
    70% {
        -moz-transform: perspective(2000px) rotateY(200deg);
    }
    100% {
        -moz-transform: perspective(2000px) rotateY(180deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: perspective(2000px) rotateY(0);
        -moz-transform: perspective(2000px) rotateY(0);
        -ms-transform: perspective(2000px) rotateY(0);
        -o-transform: perspective(2000px) rotateY(0);
        transform: perspective(2000px) rotateY(0);
    }
    70% {
        -webkit-transform: perspective(2000px) rotateY(200deg);
        -moz-transform: perspective(2000px) rotateY(200deg);
        -ms-transform: perspective(2000px) rotateY(200deg);
        -o-transform: perspective(2000px) rotateY(200deg);
        transform: perspective(2000px) rotateY(200deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(180deg);
        -moz-transform: perspective(2000px) rotateY(180deg);
        -ms-transform: perspective(2000px) rotateY(180deg);
        -o-transform: perspective(2000px) rotateY(180deg);
        transform: perspective(2000px) rotateY(180deg);
    }
}

@-webkit-keyframes rotate-inverse {
    0% {
        -webkit-transform: perspective(2000px) rotateY(-180deg);
    }
    70% {
        -webkit-transform: perspective(2000px) rotateY(20deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(0);
    }
}

@-moz-keyframes rotate-inverse {
    0% {
        -moz-transform: perspective(2000px) rotateY(-180deg);
    }
    70% {
        -moz-transform: perspective(2000px) rotateY(20deg);
    }
    100% {
        -moz-transform: perspective(2000px) rotateY(0);
    }
}

@keyframes rotate-inverse {
    0% {
        -webkit-transform: perspective(2000px) rotateY(-180deg);
        -moz-transform: perspective(2000px) rotateY(-180deg);
        -ms-transform: perspective(2000px) rotateY(-180deg);
        -o-transform: perspective(2000px) rotateY(-180deg);
        transform: perspective(2000px) rotateY(-180deg);
    }
    70% {
        -webkit-transform: perspective(2000px) rotateY(20deg);
        -moz-transform: perspective(2000px) rotateY(20deg);
        -ms-transform: perspective(2000px) rotateY(20deg);
        -o-transform: perspective(2000px) rotateY(20deg);
        transform: perspective(2000px) rotateY(20deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(0);
        -moz-transform: perspective(2000px) rotateY(0);
        -ms-transform: perspective(2000px) rotateY(0);
        -o-transform: perspective(2000px) rotateY(0);
        transform: perspective(2000px) rotateY(0);
    }
}

@-webkit-keyframes rotate-back {
    0% {
        -webkit-transform: perspective(2000px) rotateY(0);
    }
    70% {
        -webkit-transform: perspective(2000px) rotateY(-200deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(-180deg);
    }
}

@-moz-keyframes rotate-back {
    0% {
        -moz-transform: perspective(2000px) rotateY(0);
    }
    70% {
        -moz-transform: perspective(2000px) rotateY(-200deg);
    }
    100% {
        -moz-transform: perspective(2000px) rotateY(-180deg);
    }
}

@keyframes rotate-back {
    0% {
        -webkit-transform: perspective(2000px) rotateY(0);
        -moz-transform: perspective(2000px) rotateY(0);
        -ms-transform: perspective(2000px) rotateY(0);
        -o-transform: perspective(2000px) rotateY(0);
        transform: perspective(2000px) rotateY(0);
    }
    70% {
        -webkit-transform: perspective(2000px) rotateY(-200deg);
        -moz-transform: perspective(2000px) rotateY(-200deg);
        -ms-transform: perspective(2000px) rotateY(-200deg);
        -o-transform: perspective(2000px) rotateY(-200deg);
        transform: perspective(2000px) rotateY(-200deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(-180deg);
        -moz-transform: perspective(2000px) rotateY(-180deg);
        -ms-transform: perspective(2000px) rotateY(-180deg);
        -o-transform: perspective(2000px) rotateY(-180deg);
        transform: perspective(2000px) rotateY(-180deg);
    }
}

@-webkit-keyframes rotate-inverse-back {
    0% {
        -webkit-transform: perspective(2000px) rotateY(180deg);
    }
    70% {
        -webkit-transform: perspective(2000px) rotateY(-20deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(0);
    }
}

@-moz-keyframes rotate-inverse-back {
    0% {
        -moz-transform: perspective(2000px) rotateY(180deg);
    }
    70% {
        -moz-transform: perspective(2000px) rotateY(-20deg);
    }
    100% {
        -moz-transform: perspective(2000px) rotateY(0);
    }
}

@keyframes rotate-inverse-back {
    0% {
        -webkit-transform: perspective(2000px) rotateY(180deg);
        -moz-transform: perspective(2000px) rotateY(180deg);
        -ms-transform: perspective(2000px) rotateY(180deg);
        -o-transform: perspective(2000px) rotateY(180deg);
        transform: perspective(2000px) rotateY(180deg);
    }
    70% {
        -webkit-transform: perspective(2000px) rotateY(-20deg);
        -moz-transform: perspective(2000px) rotateY(-20deg);
        -ms-transform: perspective(2000px) rotateY(-20deg);
        -o-transform: perspective(2000px) rotateY(-20deg);
        transform: perspective(2000px) rotateY(-20deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(0);
        -moz-transform: perspective(2000px) rotateY(0);
        -ms-transform: perspective(2000px) rotateY(0);
        -o-transform: perspective(2000px) rotateY(0);
        transform: perspective(2000px) rotateY(0);
    }
}

/**
*
* Modal pricing info for PRO - END CSS
*
*/